<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

  <body>
    <h1>Welcome to The Wall, {{session['first_name']}}! </h1>
    <form action='/post' method='post'>
      <h3 class='form-signin-heading'>Post a message</h3>
          <textarea rows="3" name='post'></textarea>
          <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {% if posts %}
      {% for post in posts %}
        <h3>{{ post['first_name'] }} {{ post['last_name']}} {{ post['created_at']}}</h3>
        <p>{{ post['post_text'] }}</p>
        {% if post['comments'] %}
          {% for comment in post['comments'] %}
            {% if post['post_id'] == comment['post_id'] %}
  		        <p>{{comment['comment_text']}}</p>
  		      {% endif %}
          {% endfor %}
        {% endif %}
  	    <form action='/post/{{post['post_id']}}/comment' method='post'>
  	      <h3 class='form-signin-heading'>Post a comment</h3>
  	        <textarea class="form-control" rows="3" name='comment'></textarea>
  	        <button type="submit" class="btn btn-default">Submit</button>
  	    </form>

      {% endfor %}
    {% endif %}
  </body>
</html>
